.logo-icon {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: lightgray;
    background-image: url(https://img.lovepik.com/png/20231105/cute-kitten-cartoon-Kitten-cartoon-cartoon-animal-Cartoon-image_500066_wh1200.png);
    background-size: cover;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}